[v-cloak]{
	display:none;
}

.btn-space{
	margin-top:10px;
	margin-right:10px;
}

.btn-width{
	width:250px;
}

.dropdownChoice{
	padding-left:10px;
}

.isRecordingColor{
	color: #007E33;
}

.pageHeader{
	margin-bottom: 25px;
}

.panel-margin{
	margin:10px;
}

.sensorSelection{
	margin-top:20px;
}

.sessionNameInput{
	width:80%;
}

.targetInput{
	margin-left:20px;
}
