<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tempeature Monitor</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Add Bootstrap theme from Bootswatch-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div id="tempMonitor" v-cloak>
        <div class="container pageHeader">
            <div class="h2">Rasberry Pi Monitor</div>
        </div>
        <!-- Default Section, inputs and current sensor values-->
        <div class="container">
            <div class="row">
                <!--Input Section -->
                <div class="col-md-6 container">
                    <div class="panel">
                        <div class="panel-body"> 
                            <div>
                                <div>Data Collection Session Name</div>
                                <div>
                                    <input class="sessionNameInput" id="session-name" v-model="sessionName" placeholder=" Session Name">
                                </div>
                            </div>
                            <div class="sensorSelection">
                                <div>Show Current Sensor Data:</div>
                                <div>
                                    <div>
                                        <input id="showTemp" type="checkbox" v-model="showTemp">
                                        <label for="showTemp">Temperature</label>
                                    </div>
                                    <div>
                                        <input id="showHumidity" type="checkbox" v-model="showHumidity">
                                        <label for="showHumidity">Humidity</label>
                                    </div>  
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-space btn-success btn-width" type="button" v-on:click="startRecording" v-text="statusBtnText" v-bind:class="{'btn-danger':isRecording,}"></button>
                                <span class="btn-group btn-space dropup">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select Sensor ID <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <table>
                                            <tr v-for="sensor in sensorArray">
                                                <td class="dropdownChoice"><input type="radio" name="historic" :value="sensor" v-model="sensorSelected">{{ sensor }}</input></td>
                                            </tr>
                                            <tr v-show="noSensors">
                                                <td class="dropdownChoice"> No Sensors Online</td>
                                            </tr>
                                        </table> 
                                    </ul>
                                </span>
                            </div>
                            <div>
                                <button class="btn btn-space btn-primary btn-width" type="button" v-on:click="displayHistoricInfo" v-text="dataToggleText"></button>
                                <span class="btn-group btn-space">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select Historic Session <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <table>
                                            <tr v-for="record in historicDataArray">
                                                <td class="dropdownChoice"><input type="radio" name="historic" :value="record.key" v-model="historicSelected" v-on:click="updateHistoricInfo">{{record.name}}</input></td>
                                            </tr>
                                        </table> 
                                    </ul>
                                </span>
                            </div>
                            <div>
                                <button class="btn btn-space btn-primary btn-width" type="button" v-on:click="displaySessionInfo" v-text="sessionToggleText"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Current Session Sensor Values -->
                <div class="col-md-6 container">
                    <div class="panel panel-margin">
                        <div class="panel-body">
                            <div class="h3" v-bind:class="{'isRecordingColor': isRecording,}">Session: {{ sessionName }}</div>
                            <table class="table">
                                <tr v-show="showTemp">
                                    <th>Temperature: </th>
                                    <td>{{ tempValue }}</td>
                                </tr>
                                <tr v-show="showHumidity">
                                    <th>Humidity: </th>
                                    <td>{{ humidityValue }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--Warning message for invalid inputs -->
            <div v-show="showWarning">{{inputWarning}}</div>
        </div>
        <!--Session Charts -->
        <div class="container" v-show="showSession">
            <div class="panel panel-margin">
                <div class="panel-body">
                    <div class="row" >
                        <div class="col-md-6">
                            <div v-show="showSession" id="sessionTempChart"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md" v-show="showSession" id="sessionHumidityChart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Session Raw Data Table -->
        <div class="container" v-if="showSession">
            <div class="panel panel-margin">
                <div class="panel-body">
                    <div>{{ sessionName }} Session Data</div>
                    <div>
                        <table class="table">
                            <tr>
                                <th>Time</th>
                                <th>Temperature</th>
                                <th>Humidity</th>
                            </tr> 
                            <tr v-for="record in sessionData">
                                <td>{{record.time}}</td>
                                <td>{{record.temp}}</td>
                                <td>{{record.humidity}}</td> 
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--Historic Charts -->
        <div class="container" v-show="showHistoric">
            <div class="panel panel-margin">
                <div class="panel-body">
                    <div class="row" >
                        <div class="col-md-6">
                            <div v-show="showHistoric" id="historicTempChart"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md" v-show="showHistoric" id="historicHumidityChart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Historic Raw Data Table -->
        <div class="container" v-if="showHistoric">
            <div class="panel panel-margin">
                <div class="panel-body">
                    <div>Historic Data</div>
                    <div>
                        <table class="table">
                            <tr>
                                <th>Time</th>
                                <th>Temperature</th>
                                <th>Humidity</th>
                            </tr>
                            <tr v-for="record in historicData">
                                <td>{{record.time}}</td>
                                <td>{{record.temp}}</td>
                                <td>{{record.humidity}}</td>
                            </tr>   
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Firebase-->
    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>  
	<!--Vue CDN-->
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <!-- Bootstrap and JQuery (JQuery needed for Bootstrap) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- High Charts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>

    <!--Moment.js to get timestamp for data-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script type="text/javascript" src="js/keys.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>